<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"content-essay","layout":{"type":"constrained","contentSize":"640px"},"metadata":{"name":"Page Content"}} -->
<main id="main-content" class="wp-block-group content-essay">
	<!-- wp:post-title {"style":{"typography":{"fontSize":"clamp(28px, 4vw, 36px)","fontWeight":"400"},"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} /-->

	<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"640px"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
