<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"content-photo","layout":{"type":"constrained","contentSize":"800px"},"metadata":{"name":"Single Photo Content"}} -->
<main id="main-content" class="wp-block-group content-photo">
	<!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontSize":"var:preset|font-size|large","fontWeight":"400"},"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} /-->

	<!-- wp:post-featured-image {"align":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

	<!-- wp:group {"className":"photo-caption","layout":{"type":"constrained","contentSize":"480px"}} -->
	<div class="wp-block-group photo-caption">
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"48px"} -->
	<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
